<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="clients_list/" method="get">
      {%csrf_token %}
        <div class="form-group">
        <label for="name">name</label>
        <input type="name" class="form-control" id="name">
        
        <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email">
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
</body>
</html>